body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f3ee;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
    color: #754c29;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #5d3318;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content {
    margin-bottom: 30px;
}

.contact {
    border-top: 2px solid #bfbfbf;
    padding-top: 20px;
}

.contact h2 {
    margin-top: 20px;
}
/* Dark mode styles */
.dark-mode {
    background-color: #111;
    color: #fff;
}

/* Toggle button styles */
.toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
