body {
    font-family: 'Times New Roman', serif;
    background-color: #f6f3ee;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
    color: #754c29;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #5d3318;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content {
    margin-bottom: 30px;
}

.contact {
    border-top: 2px solid #bfbfbf;
    padding-top: 20px;
}

.contact h2 {
    margin-top: 20px;
}
